@media only screen and (max-width: 1223px) {
    /* Changing margins on the main containers */
    #aboutContent {
        margin-left: 20%;
        margin-right: 20%;
    }

    .portfolioItemIntro {
        padding-left: 20%;
        padding-right: 20%;
    }

    .portfolioItem,
    .portfolioNav {
        margin-left: 20%;
        margin-right: 20%;
    }

    #contactContent {
        margin-left: 10%;
        margin-right: 10%;
    }
}


@media only screen and (min-width: 769px) {
    /* Disabling mobile navigation */
    .slicknav_menu {
        display: none;
    }

    #navMobile {
        display: none;
    }

    #aboutHeaderMobile {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    /* Disabling desktop nav and enabling mobile nav */
    #headerDesktop {
        display: none;
    }

    .js #navMobile {
        display: none;
    }

    #navMobile {
        display: none;
    }

    #headerMobile {
        border-bottom: 2px solid #F8F9F9;
    }

    .js .slicknav_menu {
        display: block;
    }

    #siteLogoMobile {
        float: left;
        height: 43px;
        width: 40%;
        max-width: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5%;
    }

    /* Changing margins on page containers */
    #homeContent,
    #aboutContent,
    .portfolioItem,
    .portfolioNav {
        margin-left: 5%;
        margin-right: 5%;
    }

    .portfolioItemIntro {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Changing settings for 'Home' page */
    .portfolioPreview {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .middleMargin {
        margin-left: 0;
        margin-right: 0;
    }

    #carswipOverlay,
    #spotFestivalOverlay,
    #whileYouWaitOverlay,
    #forzaHubMobileOverlay,
    #ligaBBVARedesignOverlay,
    #cartabaseOverlay {
        background: none;
    }

    .contentDetails {
        display: none;
    }

    #contactForm {
        margin-right: 5%;
        margin-left: 5%;
    }
}


/* IE10+ settings */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    #homeContent {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .middleMargin {
        margin: 0;
    }

    .portfolioPreview {
        margin-left: 10%;
        margin-right: 10%;
    }

    .content,
    .contentImage {
        max-width: 800px;
    }

    #aboutContent {
        display: block;
    }

    #contactContent {
        display: block;
    }

    .message {
        overflow: auto;
    }

    .portfolioItem {
        display: block;
    }
}