/* Settings that spans entire site */
body {
    margin-right: auto;
    margin-left: auto;
    max-width: 2000px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 2;
    color: #505B64;
}

strong {
    font-weight: 600;
}

.button {
    border: 1px solid #0A5D94;
    border-radius: 2.5px;
    background: none;
    font-size: 100%;
    color: #0A5D94;
    padding: 10px 5px 10px 5px;
    min-width: 100px;
    -webkit-appearance: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: #0A5D94;
    color: #ffffff;
    -webkit-appearance: none;
    transition: all 0.4s;
}


/* Navigation */
#headerDesktop {
    height: 80px;
    border-bottom: 2px solid #F8F9F9;
}

#siteLogo {
    margin-left: 10%;
    height: 80px;
}

#navDesktop {
    float: right;
    margin-right: 10%;
}

.navItemDesktop {
    display: inline;
    margin-left: 50px;
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #9c9c9c;
    font-size: 90%;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #9c9c9c;
    font-size: 110%;
}

nav a:hover {
    color: #EE6B15;
    transition: all 0.4s;
}

.current {
    color: #EE6B15;
}


/* Home page */
#homeContent {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.portfolioPreview {
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
}

.content {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.content .contentOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.content:hover .contentOverlay {
    opacity: 1;
    transition: all 0.4s;
}

.contentImage {
    width: 100%;
    display: block;
}

.contentDetails {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contentDetails h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    text-decoration: none;
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
}

.contentDetails h3 {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 90%;
    line-height: 1.5;
    color: #E9E9E9;
    padding-left: 10%;
    padding-right: 10%;
}

.content:hover .contentDetails {
    top: 50%;
    left: 50%;
    opacity: 1;
}

#carswipAppOverlay {
    background: #e67e22;
}

#carswipWebsiteOverlay {
    background: #e67e22;
}

#spotFestivalOverlay {
    background: #a13024
}

#whileYouWaitOverlay {
    background: #0A5D94;
}

#forzaHubMobileOverlay {
    background: #c0392b;
}

#ligaBBVARedesignOverlay {
    background: #2c3e50;
}

#cartabaseOverlay {
    background: #e67e22;
}


/* About page */
#aboutContent {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#aboutIntro {
    font-size: 130%;
    font-weight: 600;
}

.aboutText {
    margin-bottom: 20px;
    margin-top: 20px;
}

#downloadCV {
    margin-top: 35px;
    margin-bottom: 40px;
}

#downloadCV a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}


/* Contact page */
#contactContent {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.contactHeader {
    font-family: 'Montserrat', sans-serif;
    font-size: 220%;
    line-height: 1.8;
    color: #0A5D94;
}

#formWrap {
    display: block;
    text-align: center;
}

#contactForm {
    margin-top: 20px;
}

.fields,
.message {
    width: 90%;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #333;
    border: 1px solid #c1c1c1;
    background-color: #F5F5F5;
    border-radius: 2.5px;
}

.fields {
    height: 50px;
}

.fields:focus,
.message:focus {
    background-color: white;
    outline: none;
    border: 1px solid #EE6B15;
}

.fields[placeholder],
.message[placeholder] {
    padding-left: 10px;
    padding-right: 10px;
}

.message {
    height: 150px;
    resize: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#formMessages {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.success {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 2;
    color: #fff;
    background-color: #00A86B;
    border-radius: 4px;
}

.error {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 2;
    color: #fff;
    background-color: #D73B3E;
    border-radius: 4px;
}


/* Portfolio Item pages */
.portfolioItemIntro {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.portfolioItemIntro img {
    border-radius: 2.5px;
}

#carswipAppIntro {
    background-color: #e67e22;
}

#carswipWebsiteIntro {
    background-color: #e67e22;
}

#spotFestivalIntro {
    background-color: #a13024;
}

#forzaHubMobileIntro {
    background-color: #c0392b;
}

#ligaBBVARedesignIntro {
    background-color: #2c3e50;
}

#cartabaseIntro {
    background-color: #e67e22;
}

.portfolioItem {
    clear: both;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 20px;
}

.itemTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 170%;
    margin-bottom: 5px;
    color: #fff;
}

.itemTags {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 90%;
    line-height: 1.35;
    color: #E9E9E9;
    margin-bottom: 20px;
}

.itemSection {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 135%;
    line-height: 2;
    color: #414141;
}

.itemSubtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 100%;
    line-height: 2;
    color: #414141;
}

.itemText {
    margin-bottom: 20px;
}

.itemLink {
    color: #666666;
    text-decoration: underline;
}

.itemLink:hover {
    color: #EE6B15;
    transition: all 0.4s;
}

.itemImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.itemImageNarrow {
    max-width: 400px;
    margin-left: 0;
}

.itemImageMargin {
    margin-bottom: 20px;
}

.portfolioNav {
    margin-top: 40px;
    margin-right: 25%;
    margin-left: 25%;
}

.portfolioNavText {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 100%;
    text-decoration: none;
    color: #C1C1C1;
    margin-bottom: 25px;
}

.portfolioNavText:hover {
    color: #EE6B15;
    transition: all 0.4s;
}

.portfolioNavRight {
    float: right;
}

.portfolioNavLeft {
    float: left;
}


/* Footer */
.footer {
    height: 80px;
    width: 100%;
    display: table;
    border-top: 2px solid #F8F9F9;
}

#socialIcons {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 80px;
}

.icons {
    margin-right: 10px;
    margin-left: 10px;
    width: 30px;
}

/* Making the footer stick to the bottom of the pages */
html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -80px;
}

.footer,
.push {
    height: 80px;
}